$font-family-sans-serif: 'Open Sans', 'Arial', sans-serif;

$color-red:        #ab1a2b;
$color-gray:       #6b6c6c;
$color-gray-light: #ededed;
$color-borders:    #cccccc;

$mobile: 480px;
$tablet: 768px;

$uri-check-mark: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAABLElEQVQ4ja3UTSsFURgH8N/Fxk3clIVSKCsvZcXKwidQ6ka+ga2SrHwDSws7NiIbUTZKdhZW9xtgRXnZ6CZxLe7cOo05V8z86yxmnvP8Zs6Z05QUn2UMdRQIVnCMA3R1FYSO4AwTyfVDEegY7tAIxkJedAj3KbSB+Tx7XMZpgqdTyQPvYjpSm/ovuuLn8sNx8x90GC9t0HPMxJp70B+pnUfAOlZRiqFLuMVORm0xgj5jLgaO4zKY/I7RoN6dPDCNPiS9P1LBNj4ymvaDeesZ9UdtTsCm5v5kLfETk+hLlhvW3jAbQ1sZxF4EP8FG6t4Xqr+hYap4ysBfU9dbf0FbGUYt8vYNHGpzpH5LL64y0JrmPyJXyrgI0LrmhywkZVwn8FpRaCsDOELnX5q+AdWmejpQeSOPAAAAAElFTkSuQmCC';
