<div class="container row" id="main-container">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 no-padding" id="main-wrapper">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6 " id="resellers-left-col" >
            ricerca
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6  col-xs-6  " id="resellers-right-col" >
            mappa

        </div>
    </div>
</div>